body {
  margin: 0;
}

svg {
  background: #282D2C
}

.line.shortest {
  stroke: red;
}

.line {
  stroke-width: 6;
  stroke: #3B6664;
}

.point {
  stroke-width: 6;
  stroke: #3E8989;
  fill: #3E8989;
  cursor: move;
}

.start {
  stroke: red;
}

.end {
  stroke: yellow;
}

.point:hover {
  stroke: yellow;
}
